* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

:focus {
  outline: 2px solid #005e95;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Avenir Next W00';
}

.loading-spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  display: 'block';
  pointer-events: none;
  width: 4em;
  height: 4em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #0079c1;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper > * {
  color: #4c4c4c;
}

/* Title bar */

.header {
  background: #005e95;
  border: 1px solid #00457c;
  color: white;
  padding: 15px 10px;
  /* display: flex;
  align-items: center; */
  height: 10vh;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
}

.title img {
  height: 22px;
  padding-right: 6px;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.2em;
  margin: 0 10px 0 0;
}

#search-container {
  height: 32px;
  /* align-self: flex-start; */
}

.sub-title {
  font-style: oblique;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  font-size: 0.9em;
  position: relative;
  top: -4px;
}

.sub-title a {
  text-decoration: none;
  color: white;
}

.sub-title-link {
  transition: 750ms;
  border-bottom: 1px solid transparent;
}

.sub-title-link:hover {
  border-color: white;
}

/* Map and List */

.main {
  display: flex;
  flex-direction: row;
}

.content-main {
  display: flex;
}

#mapview {
  width: 60vw;
  height: calc(60vh - 10px);
  margin: 10px;
  border: 1px solid rgba(110, 110, 110, 0.3);
}

.esri-popup__main-container.esri-widget {
  width: 200px !important;
  max-height: 300px !important;
}

/* Lists */

#list-panel {
  width: calc(40vw - 30px);
  height: calc(60vh - 10px);
  margin: 10px 10px 10px 0;
  border: 1px solid rgba(110, 110, 110, 0.3);
  overflow: scroll;
}

.list-header {
  font-size: 1.1rem;
  background: #fff;
  padding: 0 17px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.3);
}

.list-headline {
  font-size: 1.1em;
  margin: 14px 0 0 0;
}

.collision-sym {
  color: #cb9611;
  font-size: 1.3rem;
}

.no-collision-sym {
  color: #bcbcbc;
  font-size: 1.3rem;
}

.list-body {
  background-color: #efefef;
  padding: 6px 7px;
  justify-content: center;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.item-headline {
  font-weight: normal;
  color: #0079c1;
  padding: 0px;
  margin: 5px 0px;
  cursor: pointer;
  display: inline;
  transition: 750ms;
  border-bottom: 1px solid transparent;
}

.item-headline a {
  text-decoration: none;
  color: #0079c1;
}

.item-headline:hover {
  border-color: #0079c1;
}

.list-item {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(110, 110, 110, 0.3);
  padding: 7px 10px;
  margin: 6px 8px;
  border: 1px solid rgba(110, 110, 110, 0.3);
  border-color: transparent;
  border-radius: 2px;
}

.list-item-highlight {
  background-color: #f8f8f8;
}

.item-detail > p {
  margin: 7px 0;
}

.item-detail > p:nth-child(3) {
  line-height: 1.4em;
}

/* Priority Crossings List only */

.list-subhead {
  margin: 0;
  padding: 8px 17px;
  background-color: #e0e0e0;
  border-top: 17px solid #efefef;
  border-bottom: 1px solid rgba(110, 110, 110, 0.3);
}

.list-subhead-title {
  margin: 8px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list-subhead-desc {
  margin: 5px 0;
}

.list-subhead-hover {
  font-style: oblique;
  margin: 5px 0;
  font-size: 0.8em;
  opacity: 0.7;
}

.list-subhead-toggle {
  display: none;
}

#list-body.priority-gx {
  padding-top: 0;
}

#list-body.priority-gx div:first-child {
  margin-top: 0;
}

/* Incidents List only */

.esri-icon-zoom-in-magnifying-glass {
  padding-left: 10px;
  cursor: pointer;
}

.list-header-detail > p {
  font-size: 1rem;
  margin: 7px 0;
}

.list-header-detail > p:first-child {
  margin-top: 14px;
}

.links-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px 0;
  text-align: center;
}

button {
  background-color: #0079c1;
  border: none;
  padding: 0 10px;
  color: white;
  font-size: 14px;
  font-family: 'Avenir Next W00';
  transition: background-color 1s ease;
}

button:hover {
  background-color: #005e95;
  cursor: pointer;
}

.esri-icon-link {
  padding: 0 5px 0 0;
}

.inc-item-headline {
  font-weight: normal;
  padding: 0px;
  margin: 5px 0px;
}

/* Charts row */

#chart-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.timeline-wrapper {
  height: calc(28vh - 10px);
  flex-grow: 2;
  margin-right: 10px;
}

.vehtyp-wrapper {
  height: calc(28vh - 10px);
}

#timeline-chart,
#vehtyp-chart {
  padding: 0 10px;
  border: 1px solid rgba(110, 110, 110, 0.3);
}

/* media queries */

/* phones in landscape orientation */
@media only screen and (max-device-height: 414px) and (orientation: landscape) {
  .timeline-wrapper,
  .vehtyp-wrapper {
    height: 150px;
  }
}

@media all and (max-width: 812px) {
  .header {
    height: 90px;
  }

  #mapview {
    height: calc(84vh - 10px);
  }

  #list-panel {
    height: calc(84vh - 10px);
  }

  .title-row {
    flex-direction: column;
  }

  .sub-title {
    display: none;
  }

  #chart-row {
    flex-direction: column;
    width: auto;
  }

  .timeline-wrapper,
  .vehtyp-wrapper {
    margin: 14px 10px;
  }

  #timeline-chart,
  #vehtyp-chart {
    padding: 5px 10px;
  }
}

@media all and (max-width: 680px) {
  .header,
  .main {
    flex-direction: column;
  }

  .header {
    width: 100vw;
    height: 120px;
    /* justify-content: flex-start; */
  }

  .title-row {
    display: block;
  }

  .title img {
    display: none;
  }

  #search-container {
    margin-top: 10px;
  }

  #mapview {
    width: 100%;
    height: 50vh;
    margin: 10px 0;
  }

  #list-panel {
    width: 100vw;
    margin: 0;
    overflow: auto;
    height: auto;
  }

  .list-subhead-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .esri-icon-arrow-down-circled,
  .esri-icon-arrow-up-circled {
    font-size: 1.4rem;
    cursor: pointer;
  }

  #list-subhead-desc-only,
  .list-subhead-hover {
    display: none;
  }

  #priority-gx {
    display: none;
  }
}

/* iPad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    height: 105px;
  }

  #search-container {
    margin-top: 5px;
  }

  .main {
    height: 50vh;
  }

  #mapview,
  #list-panel {
    height: 98%;
  }

  #chart-row {
    height: 50vw;
  }
}

/* iPad Pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  #chart-row {
    flex-direction: column;
  }

  .timeline-wrapper {
    margin: 12px 0;
  }
}
